
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.projectRow1{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #638b7b;
}
.projectRow1 img{

    width: 25vw;
    margin: 3vw;

}
.project_col2{
    p{
        text-align: center;
        line-height: 2.3vw;
        font-size: 1.3vw;
    }
    >h1{
        text-align: center;
        margin-bottom: 4vw;
        font-family:"Dancing Script" ;
        font-size: 3vw;
        font-weight: 700;
    }

}
.projectRow2{
    margin-bottom: 5vw;
}

.projectName{
    display: block;
    text-align: center;
    >img{
        /* width: 20vw; */
        margin: 2vw;
        margin-bottom: 0;
    }
}
/* .viewMore{
    margin: 1vw;
    padding: 0.5vw;
    color: white;
    background-color: black;
    border-radius: 0.5vw;

}
.img1{
    width: 14vw;
}
.img2{
    width: 16vw;
}
.img3{
    width: 22vw;
}
.img4{
    width: 27vw;
} */
.projects123{
    display: flex;
    justify-content: center;
    align-items: center;

}
.ongoingProjects{
    display: block;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
}
.yellowText{
    color: #FFC220;
}
.card{
    margin: 1vw;
    height: 25vw;
    width: 25vw;
    /* padding: 2vw; */
}
@media only screen and (max-width: 768px){
    .viewMore{
        font-size: 1vw;
        /* margin-left: 2vw; */
    }
}